
    <%- include("header") %>
    <style>
      
      input {
        outline: none;
          margin: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-radius: 15px;
          width: 100%;
          font-size: 14px;
          font-family: inherit;
       }
       .card:hover {
              transform: scale(1.05);
              box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
          }
       body {
                font-family: 'Recursive', sans-serif;
                font-size: larger;
            }
    
            .customborder {
                border-radius: 2%;
                border: 2px solid #E95420;
            }
    
            .btn {
                width: 100%;
                align-items: center;
                background: #212529;
                border: none;
    
            }
    
            .column {
                float: left;
                width: 50%;
            }
    
        .button{
     width: 100%;
    background-color:#D4638D;}
    
        button:hover{
    background-color:#53909f;}
    
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
       .input--style-4 {
          line-height: 50px;
          background: rgba(255, 255, 255, 0);
          ;
          -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          padding: 0px 20px;
          font-size: 16px;
          border-bottom-style: solid;
          border-bottom-width: thin;
          border-bottom-color: black;
          border-top-color: black;
          border-radius: 15px;
          color: #fff;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease;
       }
       .label {
          font-size: 21px;
          color: #fff;
          text-transform: capitalize;
          display: block;
          margin-bottom: 5px;
       }
       /* ==========================================================================
       #RESET
       ========================================================================== */
       /**
     * A very simple reset that sits on top of Normalize.css.
     */
    
     
    </style>
    
    <body>
      <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid d-flex align-items-center justify-content-lg-between">
          <a href="/" class="logo me-auto me-lg-0"><img src="assets/img/logo.jpg" alt="" class="img-fluid"></a>
          <h1 class="logo me-auto me-lg-0"><a href="/">The Laali Project</a></h1>
    
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto" href="/admin/users">Users</a></li>
                <li><a class="nav-link scrollto " href="/admin/pendingAlumni">Alumni requests</a></li>
                <li><a class="nav-link scrollto " href="/admin/mentee-mentor">M-M Fix</a></li>
                <li><a class="nav-link scrollto active" href="/admin/job_events">Opportunity Hub</a></li>
                <li><a class="nav-link scrollto " href="/logout">Log Out</a></li>
              
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
    
          <div class="header-social-links d-flex align-items-center">
            <a href="https://twitter.com/thelaaliproject?lang=en" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/thelaaliproject/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/thelaaliproject/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/the-laaliproject/?originalSubdomain=in" class="linkedin"><i
                class="bi bi-linkedin"></i></i></a>
          </div>
    
        </div>
      </header>
      <!-- ======= Hero Section ======= -->
      
      <div class="container">
        <!-- show a dialog if user is not verified  -->
        <div class="accordion" style="padding-bottom:25px" id="accordionExample">
          <div class="section-title" style="padding-top:30px">
            <h2>Schedule the Seminar</h2>
            <p> Working to bring the impact we want to see. </p>
        </p>
          </div>
    
    <div class="col-lg-12" style="justify-content:center;">
            <class class="card" style="padding-bottom:40px;background-color:rgba(255, 255, 255, 0.8);">
                <div class="card-header"><h3 style="text-align:center;color:black;">Create New Event</h3></div>
              <div class="card-body">
    
                <form action="/admin/new-event" method="post">
    
    
                  <div class="row ">
                    <label for="title"style="color:black;">Event Title</label>
                    <input type="text" id="title" name="event_title"
                      style="width:90%;height:40px;padding-left:20px;margin-left:20px;">
                  </div>
                  
                  <div class="row ">
                    <label for="details"style="color:black;"
                    >Event Description</label>
                    <input type="text" rows="3" id="details" name="event_description"
                      style="width:90%;height:40px;padding-left:20px;margin-left:20px;color:black;"
                      placeholder="" required>
                  </div>
                  <div class="text-center">
                    <button type="submit" id="submit" style="margin-top: 30px; background:linear-gradient(60deg, #68345c, #5e0443); width: 10rem; color: white;" 
                      class="button">CREATE</button>
                  </div>
                </form>
              </div>
            </class>
    
    
          </div>
    </div>
    
    <div class="section-title" style="padding-top:30px">
      <h2>Posted Events</h2>
      
    </p>
    </div>
            <div id="myDIV">
                <div class="row">
                    <% for( var events of data ) { %>
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                      <div class="card-header text-center"><%= events.event_title %></div>
                      <div class="card-body text-dark">
                        <p class="card-text"><%= events.event_description %><br/>
                          <form action="/admin/delete-event" method="POST">
                            <input type="hidden" name="id" value="<%= events.id %>">
                            <button type="submit" class="btn btn-outlined dark" style="color: white;background:linear-gradient(60deg, #68345c, #5e0443);">Delete</button>
                          </form>
                        </p>
                      </div>
                    </div>
                  </div>
                    <% } %>
                    
    
                </div>
    
            </div>
    
    
    
    
            <!-- background:linear-gradient(60deg, #288c6c, #4ea752) -->
    
    
    
        </div>
    
    
    </div>
    
    
    </div>
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
       
    
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    
      
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container footer-bottom clearfix">
          <div class="copyright">
            &copy; Copyright <strong><span>TheLaaliProject</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          </div>
        </div>
      </footer><!-- End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    
    
    
      <!-- Vendor JS Files -->
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
      <script src="assets/vendor/purecounter/purecounter.js"></script>
      <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
    
    </body>
    
    </html>
    