<%- include("header") %>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to The Laali Project</h1>
      <h2>Brings to you the one stop for all your how-tos.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-lg-between">
    <a href="/" class="logo me-auto me-lg-0"><img src="assets/img/logo.jpg" alt="" class="img-fluid"></a>
    <h1 class="logo me-auto me-lg-0"><a href="/">The Laali Project</a></h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <% if(logged){ %>
          <li><a class="nav-link scrollto" href="/mm-hub">Opportunity Hub</a></li>
          <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
        <% }else{ %>
        
        <li><a class="nav-link scrollto " href="/signup">Sign Up</a></li>
        <li><a class="nav-link scrollto " href="/login">Log In</a></li>
        <% } %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex align-items-center">
      <a href="https://twitter.com/thelaaliproject?lang=en" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/thelaaliproject/" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/thelaaliproject/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/company/the-laaliproject/?originalSubdomain=in" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>

  </div>
</header><!-- End Header -->
 <!-- ======= About Section ======= -->

 
 <section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          The Laali Project aims to unravel the potential of young teenagers to be change-makers of India’s future.
           During this pandemic, the project aims to reinvent their skills through diverse programs focusing on gender
            sensitization, social and emotional learning, menstrual health & hygiene and entrepreneurial skills.
        </p>
        <a href="/signup" class="btn-learn-more">Learn With Us!</a>
      </div>
      <div class="col-lg-6">
        <p>
          We now work to integrate even more goals under our umbrella.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Build an alumni network.</li>
          <li><i class="ri-check-double-line"></i> Generate a learn and teaching network.</li>
          <li><i class="ri-check-double-line"></i> Help find and grab opportunities for a better future.</li>
        </ul>
      </div>
     
    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= Our services Section ======= -->
<section id="our-services" class="our-services">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card" style='background-image: url("assets/img/s1.jpg");'>
          <div class="card-body">
            <h5 class="card-title"><a href="">LConnect</a></h5>
            <p class="card-text">Come join the network! Get to know people, their experience , understand the world from the aged eye-view. </p>
            <div class="read-more"><a href="#login"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("assets/img/s3.jpg");'>
          <div class="card-body">
            <h5 class="card-title"><a href="">Mentee-Mentor Fix</a></h5>
            <p class="card-text">Get connected with mentors from all kinds of sphere, learn and grow with us.</p>
            <div class="read-more"><a href="#login"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("assets/img/s4.jpg");'>
          <div class="card-body">
            <h5 class="card-title"><a href="">Opportunity Hub</a></h5>
            <p class="card-text">Get the details for upcoming opportunities, internships, jobs and exclusive webinars.</p>
            <div class="read-more"><a href="#login"><i class="bi bi-arrow-right"></i> Read More</a></div>
          </div>
        </div>
      </div>
      
      

  </div>
</section><!-- End Our service Section -->

  
    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>The Laali Project</h3>
            <p>Self-aware leaders who sensitise and raise awareness around issues of Menstrual health.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="/suscribe" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>TheLaaliProject</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<button class="open-button" onclick="openForm()">Chat</button>
<div class="chat-popup" id="myForm">
  <form action="/query" class="form-container" method="POST">
    <h1>Ask Us</h1>

    <label for="msg"><b>Enter your query for us / potential job posting</b></label>
    <textarea placeholder="Type message here.." name="query_content" required></textarea>
    <div style="padding-bottom: 10px;">
    <label for="msg"><b>Please provide your email.</b></label>
    <input class="input--style-4" style="background-color: #ddd; border: none; width:100%;"type="email" name="email">
  </div>
    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>